/**reset document html*/
* {
    border: 0;
    margin: 0;
    padding: 0;
}

:root {
    --bg-general: linear-gradient(to right, #000000, #0f9b0f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    --bg: #e2e3e6;
    --fg: #ffffff;
    --dur: 8s;
}

body {
    background: var(--bg-general);
}


main {
    display: flex;
    justify-content: space-evenly;
    margin: 0rem 1rem;
}

.ocultar {
    display: none;
    opacity: 0;
}

/** preloader configurations*/
.contenedor__preloader {
    background: var(--bg-general);
    color: var(--fg);
    display: grid;
    place-items: center;
    align-content: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    height: 100dvh;
}

.hexagon {
    margin-bottom: 5em;
    overflow: hidden;
    position: relative;
    width: 10em;
    height: 10em;
}

.hexagon__group,
.hexagon__sector,
.hexagon__sector:before,
.hexagon__sector:after {
    position: absolute;
}

.hexagon__group {
    width: 20dvh;
    height: 20dvh;
}

.hexagon__group:nth-child(2) .hexagon__sector,
.hexagon__group:nth-child(2) .hexagon__sector:before,
.hexagon__group:nth-child(2) .hexagon__sector:after {
    animation-delay: calc(var(--dur) * -1/6);
}

.hexagon__group:nth-child(3) .hexagon__sector,
.hexagon__group:nth-child(3) .hexagon__sector:before,
.hexagon__group:nth-child(3) .hexagon__sector:after {
    animation-delay: calc(var(--dur) * -2/6);
}

.hexagon__group:nth-child(4) .hexagon__sector,
.hexagon__group:nth-child(4) .hexagon__sector:before,
.hexagon__group:nth-child(4) .hexagon__sector:after {
    animation-delay: calc(var(--dur) * -3/6);
}

.hexagon__group:nth-child(5) .hexagon__sector,
.hexagon__group:nth-child(5) .hexagon__sector:before,
.hexagon__group:nth-child(5) .hexagon__sector:after {
    animation-delay: calc(var(--dur) * -4/6);
}

.hexagon__group:nth-child(6) .hexagon__sector,
.hexagon__group:nth-child(6) .hexagon__sector:before,
.hexagon__group:nth-child(6) .hexagon__sector:after {
    animation-delay: calc(var(--dur) * -5/6);
}

.hexagon__group:nth-child(odd) {
    transform: rotate(30deg);
}

.hexagon__sector,
.hexagon__sector:before,
.hexagon__sector:after {
    animation-duration: var(--dur);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /*animation-play-state: paused;*/
    width: 0.2em;
    height: 0.2em;
}

.hexagon__sector {
    animation-name: moveOut1;
    top: calc(50% - 0.1em);
    left: calc(50% - 0.1em);
}

.hexagon__sector:nth-child(2) {
    animation-name: moveOut2;
}

.hexagon__sector:nth-child(3) {
    animation-name: moveOut3;
}

.hexagon__sector:nth-child(4) {
    animation-name: moveOut4;
}

.hexagon__sector:nth-child(5) {
    animation-name: moveOut5;
}

.hexagon__sector:nth-child(6) {
    animation-name: moveOut6;
}

.hexagon__sector:before,
.hexagon__sector:after {
    animation-name: ripple;
    background-color: currentColor;
    border-radius: 0.1em;
    content: "";
    display: block;
    top: 0;
    left: 0;
    transform-origin: 0.1em 0.1em;
}

.hexagon__sector:before {
    transform: rotate(-30deg)
}

.hexagon__sector:after {
    transform: rotate(-150deg)
}

/* Dark theme 
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #17181c;
		--fg: #e3e4e8;
	}
}*/

/* Animations */
@keyframes moveOut1 {
    from {
        transform: translateY(0) scale(0);
    }

    3% {
        transform: translateY(0.2em) scale(1);
    }

    97% {
        transform: translateY(7.3em) scale(1);
    }

    to {
        transform: translateY(7.5em) scale(0);
    }
}

@keyframes moveOut2 {
    from {
        transform: rotate(60deg) translateY(0) scale(0);
    }

    3% {
        transform: rotate(60deg) translateY(0.2em) scale(1);
    }

    97% {
        transform: rotate(60deg) translateY(7.3em) scale(1);
    }

    to {
        transform: rotate(60deg) translateY(7.5em) scale(0);
    }
}

@keyframes moveOut3 {
    from {
        transform: rotate(120deg) translateY(0) scale(0);
    }

    3% {
        transform: rotate(120deg) translateY(0.2em) scale(1);
    }

    97% {
        transform: rotate(120deg) translateY(7.3em) scale(1);
    }

    to {
        transform: rotate(120deg) translateY(7.5em) scale(0);
    }
}

@keyframes moveOut4 {
    from {
        transform: rotate(180deg) translateY(0) scale(0);
    }

    3% {
        transform: rotate(180deg) translateY(0.2em) scale(1);
    }

    97% {
        transform: rotate(180deg) translateY(7.3em) scale(1);
    }

    to {
        transform: rotate(180deg) translateY(7.5em) scale(0);
    }
}

@keyframes moveOut5 {
    from {
        transform: rotate(240deg) translateY(0) scale(0);
    }

    3% {
        transform: rotate(240deg) translateY(0.2em) scale(1);
    }

    97% {
        transform: rotate(240deg) translateY(7.3em) scale(1);
    }

    to {
        transform: rotate(240deg) translateY(7.5em) scale(0);
    }
}

@keyframes moveOut6 {
    from {
        transform: rotate(300deg) translateY(0) scale(0);
    }

    3% {
        transform: rotate(300deg) translateY(0.2em) scale(1);
    }

    97% {
        transform: rotate(300deg) translateY(7.3em) scale(1);
    }

    to {
        transform: rotate(300deg) translateY(7.5em) scale(0);
    }
}

@keyframes ripple {

    from,
    to {
        width: 0.2em;
    }

    33% {
        width: 2.4em;
    }
}
/* fin loader de carga*/



main input {
    cursor: pointer;
}

.logo img {
    align-items: left;
    padding: 1rem 2.3rem;
}

.contenedor__uno {
    padding: 0rem .5rem;
}

.contenedor__uno .contenedor__uno__textArea .contendor__uno__cajaTexto {
    width: 100dvh;
    height: 340px;
    max-width: 32rem;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: #244cff07;
    border: none;
    font-size: 1.1rem;
    color: #a4f0a5;
    outline: none;
    transition: all .2s;
    
}

.contenedor__uno__textArea .contendor__Uno__cajaTexto::placeholder {
    color: #98d484;
}

.contenedor__uno__textArea .contendor__Uno__cajaTexto:hover {
    border: none;
    background-color: #94cc8a54;
}

.contendor__uno__cajaTexto::-webkit-scrollbar{
    background: #258101;
    box-shadow: 0 0 2px 1px green;
}


.contenedor__uno__alerta .logo__Alert {
    width: 20px;
    height: 20px;
    padding: .5rem 0rem;
}

.contenedor__uno__alerta {
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
}

.contenedor__uno__alerta .contenedor__uno__alerta__parrafo__Uno {
    font-size: 1.2rem;
    padding: .5rem 0rem;
    padding-left: .5rem;
}

.contenedor__dos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 25px;
    width: 100dvh;
    height: 480px;
    max-width: 20rem;
}

.contenedor__dos .parrafo__Dos,
h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
    padding: 0rem 1rem 1rem 1rem;
}

.contenedor__dos__muneco {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    width: 300px;
}

.contenedor__dos__parrafo {
    text-align: center;
}

.ocultarInfo {
    display: none;
}

.parrafo__Encriptado {
    z-index:1;
    margin: 1rem;
    width: 22dvh; /* Ajusta este valor según tus necesidades */
    height: 30dvh; /* Ajusta este valor según tus necesidades */
    overflow: auto; /* Agrega una barra de desplazamiento si el contenido es demasiado grande */
}

.parrafo__Resultado {
    padding: 2rem 0rem;
    font-size: 1.5rem;
    text-align: center;

}

.contenedor__dos__muneco img {
    width: 80%;
    padding: 0rem 0rem 3rem 0rem;
}


.btnEncriptar {
    width: 15rem;
    height: 3rem;
    border-radius: 24px;
    border: none;
    background-color: #0D870D;
    color: #ffffff;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.btnEncriptar:hover {
    background-color: #00ff8022;
    transform: translateY(3px);
    transition: all .5s ease;
}

.btnDesencriptar {
    width: 15rem;
    height: 3rem;
    border-radius: 3rem;
    border: 1px solid #0D870D;
    background-color: #0a387100;
    color: #0D870D;
    font-size: 1.2rem;
}

.btnDesencriptar:hover {
    background-color: #0D870D;
    color: rgb(255, 255, 255);
    transform: translateY(3px);
    transition: all .5s ease;
    border: none;
}


.contenedor__btnCopiarDisable {
    padding: 1rem;
    display: none;
    transition: all .5s ease;
}

.contenedor__btnCopiarEnable {
    padding: 1rem;
    display: flex;

}

.btn__copiar {
    width: 15rem;
    height: 3rem;
    border-radius: 24rem;
    border: 1px solid #0D870D;
    background-color: #0a387100;
    color: #0D870D;
    font-size: 1rem;
}

.btn__copiar:hover {
    background-color: #0D870D;
    color: rgb(255, 255, 255);
    transform: translateY(3px);
    transition: all .5s ease;
    border: none;
}

.contenedor__dos__loader {

    width: 14px;
    height: 48px;
    background: #0d870dc6;
    animation: rotate 1.2s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg) scale(0.2);
      border-radius: 10%;
    }
    50% {
      transform: rotate(180deg) scale(1.5);
      border-radius: 50%;
    }
    100% {
      transform: rotate(360deg) scale(0.2);
      border-radius: 10%;
    }
  }
    
@media (max-width: 900px) {
    main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

    main section {
        margin-top: .5rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor__uno {
        width: 90%;
        padding: 0rem .5rem;
    }

    .contenedor__uno .contenedor__uno__textArea {
        width: 100%;
        padding: 0rem .5rem;
        display: flex;
        justify-content: center;

    }

    .contenedor__uno .contendor__Uno__cajaTexto {

        border-radius: 10px;
        font-size: .8rem;
    }

    .contenedor__uno__textArea .contendor__Uno__cajaTexto::placeholder {
        color: #8aa4c4;
        text-align: left;
    }

    .contenedor__uno .contenedor__uno__alerta .contenedor__uno__alerta__parrafo__Uno {
        font-size: .8rem;
        padding-left: .5rem;
        padding-bottom: .5rem;
    }

    .contenedor__uno__alerta .logo__Alert {
        height: .8rem;
        padding-top: .5rem;
    }

    .contenedor__uno__alerta .contenedor__uno__alerta__parrafo__Uno {
        font-size: .8rem;
        padding-top: .5rem;
        padding-left: .5rem;
    }

    .contenedor__uno__botonesDeAccion input {
        width: 7rem;
        height: 2rem;
        font-size: .8rem;
    }

    .contenedor__dos {
        
        background-color: white;
        border-radius: 1rem;
        width: 100dvh;
        height: 200px;
        padding-top: 3rem;
        max-width: 20rem;
        
    }

    .contenedor__dos__muneco .dibujo {
        display: none;
        visibility: hidden;
        top: 0;
        
    }

    .parrafo__Resultado{
        text-align: center;
        font-size: 1rem;
    }

    .contenedor__dos .parrafo__Dos,
    h3 {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: .8rem;
        padding: .5rem 1rem .5rem 1rem;
    }

    .btn__copiar {
        width: 10rem;
        height: 2rem;
        font-size: .8rem;
    }

}