* {
    margin: 0;
    padding: 0;

}

body {
    background: #F3F5FC;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 0rem 1rem;
}

.logo {
    align-items: left;
    padding: 1rem 0rem;
}

.contenedor__Uno {
    padding: 0rem .5rem;
}

.contenedor__Uno textarea {
    width: 100%;
    max-width:26rem;
    height: 55dvh;
    border-radius: 10px;
    padding: 2.5rem;
    background-color: #244cff07;
    border: none;
    font-size: 1.5rem;
    color: #0A3871;
    outline: none;
    transition: all .2s;
}

.text__Area textarea::placeholder {
    color: #8aa4c4;
}

.text__Area textarea:hover {
    border: none;
    background-color: #e8e9eb54;
}

.alerta img {
    height: 1.5rem;
}

.alerta {
    display: flex;
    justify-content: left;
}

.alerta .parrafo__Uno {
    font-size: 1.2rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
}

.contenedor__Dos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 25px;
    width: 35%;
}

.contenedor__Dos .parrafo__Dos,
h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 0rem 1rem 1rem 1rem;
}

.contenedor__Muneco {
    display: flex;
    justify-content: center;
}

.contenedor__Muneco img {
    width: 80%;
    padding: 0rem 0rem 3rem 0rem;
}

main input {
    cursor: pointer;
}

.btnEncriptar {
    width: 15rem;
    height: 3rem;
    border-radius: 24px;
    border: none;
    background-color: #0A3871;
    color: white;
    font-size: 1.2rem;
    margin-right: 1rem;
}


.btnDesencriptar {
    width: 15rem;
    height: 3rem;
    border-radius: 3rem;
    border: 1px solid #0A3871;
    background-color: #0a387100;
    color: #0A3871;
    font-size: 1rem;
}


.btn__copiar {
    width: 15rem;
    height: 3rem;
    border-radius: 24rem;
    border: 1px solid #0A3871;
    background-color: #0a387100;
    color: #0A3871;
    font-size: 1rem;
}

@media (max-width: 900px) {
    main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

    main section {
        margin-top: .5rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor__Uno {
        width: 80%;
        padding: 0rem .5rem;  
    }

    .contenedor__Uno .text__Area {
        width: 100%;
        padding: 0rem .5rem;
        display: flex;
        justify-content: center;
       
    }
   
    .contenedor__Uno textarea {
        width: 100%;
        height: 25dvh;
        border-radius: 10px;
        font-size: .8rem;
    }

    .text__Area textarea::placeholder {
        color: #8aa4c4;
        text-align: left;
    }

    .contenedor__Uno .alerta .parrafo__Uno {
        font-size: .8rem;
        padding-left: .5rem;
        padding-bottom: .5rem;
    }

    .alerta img {
        height: .8rem;
    }

    .contenedor__botonesDeAccion input {
        width: 7rem;
        height: 2rem;
        font-size: .8rem;
    }

    .contenedor__Dos {
        background-color: white;
        border-radius: 25px;
        width: 80%;
    }

    .contenedor__Muneco .dibujo {
        display: none;
        visibility: hidden;
        top: 0;
    }

    .contenedor__Dos .parrafo__Dos,
    h3 {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: .8rem;
        padding: .5rem 1rem .5rem 1rem;
    }

    .btn__copiar {
        width: 10rem;
        height: 2rem;
        font-size: .8rem;
    }

}